body{
    font-family: "Sofia";
   background:linear-gradient(-45deg,rgb(8, 54, 8),rgb(37, 94, 37),rgb(74, 136, 74),rgb(45, 146, 45),rgb(44, 90, 44),rgb(76, 212, 76));
   margin: 0;
   padding: 0;
   background-attachment: fixed;
   background-size: 700% 700%;
   animation: gradient 7s ease infinite;
   padding-bottom: 90px;
   color:rgb(220,220,220);
   /* -webkit-text-stroke: grey 0.1px; */
}

.bg{
 
    /* background-size: cover;
    background-attachment: fixed; */
    /* text-align: center; */
    /* transform: translate(70px,150px); */
}
h1{
    text-transform: uppercase;
}
#start{
    border-radius: 100px;
   -webkit-text-stroke: grey 0px;
    color:rgb(37, 94, 37);
    background-image: linear-gradient(-45deg,rgb(61, 187, 88),whitesmoke,rgb(89, 238, 121));
    font-size: larger;
    /* width:15%;
    height:50%; */
   animation: move 2s ease infinite;
   text-align: center;
   display:block;
   padding: 15px;
   margin-top: 30px;
   margin-left: 130px;
   border: 2px solid;
   color:2px rgb(37, 94, 37);
}
#start1{
    margin-top: 20px;
    padding: 10px;
    border-radius: 100px;
    -webkit-text-stroke: grey 0px;
     color:rgb(37, 94, 37);
     background-image: linear-gradient(-45deg,rgb(61, 187, 88),whitesmoke,rgb(89, 238, 121));
     font-size: larger;
     width:30%;
    animation: move 2s ease infinite;
    text-align: center;
    display:block;
    margin-left: 130px;
    border: 2px solid;
    color:2px rgb(37, 94, 37);
}
#start3{
    margin-top: 20px;
    padding: 10px;
    border-radius: 100px;
    -webkit-text-stroke: grey 0px;
     color:rgb(37, 94, 37);
     background-image: linear-gradient(-45deg,rgb(61, 187, 88),whitesmoke,rgb(89, 238, 121));
     font-size: larger;
     /* width:30%; */
    animation: move 2s ease infinite;
    text-align: center;
    display:block;
    margin-left: 100px;
    border: 2px solid;
    color:2px rgb(37, 94, 37);
}
.s1{
    transform: translate(50px,80px);
}
#name{
    display:none;
    text-align: center;
    /* translate: transform(50px,70px); */
}
.label{
    font-size: 22px;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;

}
.form-control{
    text-align: center;
    background: transparent;
    color: red;
    font-size: 22px;
    border: 0px;
    border-bottom: 1px solid whitesmoke;
}
/* dropdown customization */
#cont{
    display:none;
}
  .dp{
      background: transparent;
      width:200px;
      color:green;
      -webkit-text-stroke: whitesmoke 1px;
      text-align: center;
      margin-left: 20px;
  }
  /* second intro main */
  #secmain{
      display:none;
  }
  p{
      text-align: center;
      font-size:  large;
      font-weight: bold;
    }
 
@keyframes move{
    to{
        background-image: linear-gradient(-45deg,rgb(61, 187, 88),whitesmoke,rgb(89, 238, 121));

    }
    from{
        background-image: linear-gradient(45deg,rgb(61, 187, 88),whitesmoke,rgb(89, 238, 121));

    }
}
#start:hover{
    margin-top:50px;
    background-image: linear-gradient(45deg,rgb(61, 187, 88),whitesmoke,rgb(89, 238, 121));
    transform:scale(2,2);


}
.main,.slog{
    text-align: center;
    margin-top: 20px;
}
.col{
    transform: translate(50%,50%);
}
h3{
    display:none;
}
#bulb{
    text-align: center;
    /* transform: translate(50px,200px); */
    /* height:50%;
    width: 20%; */
    animation: blink 1s linear infinite;
}
#bulb1{
    text-align: center; 
    /* transform: translate(400px,100px);  */
    /* height:50%; */
    /* width: 20%; */
    animation: blink 1s linear infinite;

}


@keyframes blink{
    to{
        transform: scale(1,1);

    }
    from{
        transform: scale(0.5,0.5);
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
