*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.tit{
    background-color: rgb(82, 82, 189);
    color:white
}
.tit a{
    color: white;
}
.fas,.far{
    margin-left: 10px;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    /* position:fixed; */
    width:380px;
    height: 100%;
    padding: 30px 0;
    box-shadow:0px 0px 1px grey;
    
}
.main{
    font-size: 30px;
    margin-bottom: 0;
}
.subheading{
    /* font-size: 22px; */
    color:grey;
    margin-left: 100px;
    margin-top: -20px;
}
.wrapper .container{
    /* margin-right: 300px; */
    margin-top:15px ;
}
.wrapper .sidebar ul li{
    padding:15px;
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;
    /* border-color:5px grey; */
    /* border-bottom: 1px 1px grey; */
    margin-bottom: 10px;
    /* border-top: 1px 1px grey; */
    /* box-shadow: 1px 1px 1px 1px grey; */
    border:1px solid grey;

}
.maincont{
    margin-right: 150px;
}
.wrapper .sidebar ul li a{
font-size: 22px;
font-weight: bolder;
color: grey;
}
button,.btn{
    width:100px;
    height: 15%;
    background-color:rgb(82, 82, 189) ;
    color:white;
    margin-left: 20px;
   
}
.ss{
    width: 10px;
}
.shs{
     font-weight: lighter;
     /* font-size: 10px; */
     /* size: 100rem; */

    width: 15%; 
    /*height: 50% !important; */

}
.circle{
  margin-left: 10px;
}
.todo{
    background-color: yellow;
    margin-left: 20px;
}
.inprog{
    background-color: skyblue;
    margin-left: 20px;

}
.code{
    background-color: orange;
    margin-left: 20px;

}
.done{
    background-color: hotpink;
    margin-left: 20px;

}
.icon{
    margin-right: 30px;
    color:rgb(82, 82, 189) ;
}
.port{
    background-color: lavenderblush;
    margin-top:10px;
    margin-bottom:29px;
}
.portbt{
    background-color: orange;
    width: 70%;
    height: 40%;
}
.upperim{
    display: flex;
    margin-bottom: 10px;

}
#check{
    margin-left: 5px;
}
.bar{
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 79px;
}
