body{
    background: url('styleimage/bg.JPG');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#tasks{
    border-radius: 100px;
    width:30%;
    margin-right: 100px;
}
@keyframes effect{
to
    {filter : contrast(50%)/*hue-rotate(90deg);*/
    }
    
    from{filter: contrast(100%)/*hue-rotate(180deg);*/}

}
.bg{
    margin: 0;
    background-image: url('styleimage/bg.JPG');
    /* animation: rotate 8s; */
    /* animation: effect 3s infinite ; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}
.navbar{
    background-image:linear-gradient(-45deg,rgb(142, 81, 207),rgb(83, 194, 204));
    animation: gradient 7s ease infinite;
}
h2{
    color:whitesmoke;
    -webkit-text-stroke:1px rgb(142, 81, 207);
}
button{
    background-image: linear-gradient(rgb(142, 81, 207),rgb(83, 194, 204));
    border-radius: 100px !important;
    color:whitesmoke;
    display: inline-block;
    /* display: flex; */
}
button:hover{
    background-image: linear-gradient(rgb(83, 194, 204),rgb(142, 81, 207));

}
a{
    color: whitesmoke !important;
    font-size: large;
    font-weight: bold;
    text-align: center;

}
.nameApp{
    text-align: center ;
    position: relative;
    left: 48%;
    right:50%;
}
.container{
    text-align: center;
    margin-top: 30px;
    animation: mymove 5s infinite;

}
@keyframes mymove {
    50% {box-shadow: 10px 20px 30px rgb(149, 149, 235);}
  }
.dbtn{
    border-radius: 100px;
    text-align: right;
}
/* .comp{
    margin-top: 10px;
    border-radius: 100px;
    border-color:1px 1px 2px 2px rgb(247, 243, 247) solid;

} */

ul
{
/* list-style-type: none; */
text-align: left;
background-image: url('styleimage/unicorn.png');
padding: 20px;
border-color:10px 10px 5px 5px tomato;
color:white;
font-size: large;

/* list-style-image: url('styleimage/unicorn.png'); */
/* list-style: square inside url('styleimage/unicorn.png'); */
}
ul li {
    padding: 8px 16px;
    border-bottom: 2px solid rgb(124, 56, 201);
  }
  
li
{
background-image: url('styleimage/unicorn.png');
background-repeat: no-repeat;
/* background-position: 100% .4em; */
}
/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */
    