*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition:0.5s;
}
body{
    /* background-color: rgb(241, 237, 237); */
    background-color: rgb(238, 234, 255);
}
.rocket{
    
    width: 15%;
    height:15%;
}
.ham{
    cursor:pointer;
}
.sideheaddraw{
    display: none;
    margin-right:-10px;
}
#cross{
    cursor: pointer;
    display: none;
    /* margin-left:-430px; */
    margin-left:270px;
}
.tit{
    background-color: rgb(82, 82, 189);
    color:white;
    height:60px;
}
.tit a{
    color: white;
}
.fas,.far{
    margin-left: 10px;
}

.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    width:380px;
    height: 100%;
    padding: 30px 0;
    box-shadow:0px 0px 1px grey;
    /* transform:translateX(-380px); */
    display:none;
    transition: 0.5s ease-in-out;
    background-color: whitesmoke;
    
}
.main{
    font-size: 30px;
    /* margin-bottom: 0; */
    /* background-color: rgb(82, 82, 189); */

}
.addi{
    background-color: rgb(82, 82, 189);
margin-top:-50px;
color:white;
}
.subheading{
    color:rgb(152, 152, 248);
    margin-left: 100px;
    margin-top: -40px;
}
.wrapper .container{
    margin-top:15px ;
}
.wrapper .sidebar ul li{
    padding:15px;
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border:1px solid grey;

}
.maincont{
    margin-right: 150px;
    margin-left:10px;
    margin-bottom: 30px;
    color:rgb(82, 82, 189);
    
}
.wrapper .sidebar ul li a{
font-size: 22px;
font-weight: bolder;
color: rgb(82, 82, 189);;
}
.wrapper .sidebar ul li a:hover{
    color: whitesmoke;
}
 li:hover {
    background-color: rgb(145, 145, 202);
    color: whitesmoke;
}

ul li:hover{color: white;}
.icon:hover{
    color:white;
}
button,.btn{
    width:100px;
    height: 15%;
    background-color:rgb(82, 82, 189) ;
    color:white;
    margin-left: 20px;
   
}
.ss{
    width: 10px;
}
.shs{
     font-weight: lighter;
    width: 15%; 

}
.circle{
  margin-left: 10px;
}
.todo{
    box-shadow: 2px 2px 4px 4px yellow;
    margin-left: 25px;

}

.inprog{
    box-shadow: 2px 2px 4px 4px skyblue;
    margin-left: 25px;
}
.code{
    box-shadow: 2px 2px 4px 4px orange;
    margin-left: 25px;
}


.done{
    /* background-color: hotpink; */
    box-shadow: 2px 2px 4px 4px hotpink;
    margin-left: 25px;
}
.icon{
    margin-right: 30px;
    color:rgb(82, 82, 189) ;
}
.card{
    box-shadow: 1px 1px 1px 2px rgb(50, 5, 133);
    text-align: center;
    margin-top:10px;
    margin-bottom:29px;
    transition: 0.5s;
    color:rgb(50, 5, 133);
    text-transform: capitalize;
}
.headingcard{
    text-align: center;
    text-decoration: silver;
    margin-bottom: 25px;
    color: rgb(50, 5, 133);

}
.tod{
    background-color: yellow;
    width:100%;
    text-align: center;
    text-transform: uppercase;
}
.progr{
    background-color: skyblue;
    text-align: center;
    text-transform: uppercase;


}
.don{
    background-color: hotpink;
    text-align: center;
    text-transform: uppercase;

}
.portbt{
    background-color: orange;
    width: 70%;
    height: 40%;
    margin-left:40px;
    border-radius: 100px;

}

.upperim{
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(82, 82, 189);;
    color: white;

}
#check{
    margin-left: 5px;
}
.bar{
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 79px;
}
.mdl-button--dot{
    background-color: rgb(82, 82, 189);
    color: white;
    text-align: center;
}
.srh{
    margin-top:50px;
    margin-right:50px;
    margin-left: 30px;
}
.qr{
    margin-top:50px;
    margin-right:50px;
    font-size: 8px;
    font-weight: bolder;
}
.re{
    margin-top:50px;
    margin-right:0px;
}
